#1. What exactly is []?
Ans: list[ ] - empty list value, it contains no value


#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
spam = [2,4,6,8,10]
spam[2] = 'hello'

In [ ]:
spam

[2, 4, 'hello', 8, 10]

#3. What is the value of spam[int(int('3'*2) / 11)]?
##Lets pretend the spam includes the list ['a','b','c','d'] for the next three queries.

In [ ]:
spam[int(int('3'*2) / 11)]
# Ans == 'd'

8

In [ ]:
spam = ['a','b','c','d']

#4. What is the value of spam[-1]?
Ans:  'd' --- because its negative index

In [ ]:
spam = ['a','b','c','d']
spam[-1]

'd'

#5. What is the value of spam[:2]?
Ans:

In [ ]:
spam = ['a','b','c','d']
spam[:2]

['a', 'b']

#Lets pretend bacon has the list [3.14, 'cat', 11, 'cat',True] for the next three questions.
#6. What is the value of bacon.index('cat')?

In [1]:
bacon = [3.14, 'cat', 11, 'cat',True]
bacon.index('cat')

1

#7. How does bacon.append(99) change the look of the list value in bacon?

In [2]:
bacon = [3.14, 'cat', 11, 'cat',True]
bacon.append(99)

In [3]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#8. How does bacon.remove('cat') change the look of the list in bacon?

In [4]:
bacon = [3.14, 'cat', 11, 'cat',True]
bacon.remove('cat')

In [5]:
bacon

[3.14, 11, 'cat', True]

#9. What are the list concatenation and list replication operators?
Ans:
# list concatenation:
one list is added to the end of another list its called list concatenation.  it is represented by **"+",**  
## list replication:
repeatead each element in the list. it is represented by **"*"**

In [6]:
l1 = [3,5,354,3,4]
l2 = [53,5,3,5,3,5]
l1+l2

[3, 5, 354, 3, 4, 53, 5, 3, 5, 3, 5]

In [7]:
l = [5,6,7]
l*3

[5, 6, 7, 5, 6, 7, 5, 6, 7]

#10. What is difference between the list methods append() and insert()?
Ans:
# append(): -
   append() method is mainly add the value of element at the end of the list.
# insert(): -
   insert() method is mainly add the new element or value anywhere in the list.mainly adds specific position  of an list.

In [22]:
l = [1,2,3,4,"cat","dog"]
l.append("goat")

In [9]:
l

[1, 2, 3, 4, 'cat', 'dog', 'goat']

In [24]:
l = [1,2,3,4,"cat","dog"]
l.insert(4,"read")

In [25]:
l

[1, 2, 3, 4, 'read', 'cat', 'dog']

#11. What are the two methods for removing items from a list?

In [30]:
l = [3,4,5,3,5,3,"hello","good"]
l.remove("hello")
l

[3, 4, 5, 3, 5, 3, 'good']

In [32]:
l = [3,4,5,3,5,3,"hello","good"]
l.pop()
l

[3, 4, 5, 3, 5, 3, 'hello']

In [34]:
l = [3,4,5,3,5,3,"hello","good"]
l.clear()
l

[]

In [41]:
l = [3,4,5,3,5,3,"hello","good"]
del()

#12. Describe how list values and string values are identical.
Ans:
1. list values and string values will be used in for loop and while loop and control flow statements.
2. ordered collection  of values.
3. sequenctial order
4. both are having length and indexes.
5. both are doing slicing

#13. Whats the difference between tuples and lists?
Ans:
# tuples:-
1.   tuples are **imutability**
2.   tuples are represented by ()
3.   tuples consumes less memory.

# list:-
1.   list are **mutability**.
2.   List are represented by [ ]
3.  list consumes more memory.

#14. How do you type a tuple value that only contains the integer 42?

In [50]:
a =(42,)  # need to use comma in this case
a

(42,)

#15. How do you get a list values tuple form? How do you get a tuple values list form?

In [51]:
l = [3,4,5]
tuple(l)

(3, 4, 5)

In [52]:
t = (4,5,6)
list(t)

[4, 5, 6]

#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
Ans: Variables which contains refrence with list value

#17. How do you distinguish between copy.copy() and copy.deepcopy()?
Ans: 
```
copy.copy() is syntax of Shallow copy and Shallow copy creates new object which stores the orginal elements.
copy() create refrence  of original object. if you change copied object you change original object.


copy.deepcopy() is syntax of  deep copy and deep copy will be only duplicate any list inside the list.
deepcopy() creates new object and does real copying of original object to new one. 
```

In [55]:
import copy
a =  [1,2,3,4,5]
b = copy.copy(a)

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [57]:
import copy
a =  [1,2,3,4,5,[3,4,3,5]]
b = copy.deepcopy(a)

print(a)
print(b)

[1, 2, 3, 4, 5, [3, 4, 3, 5]]
[1, 2, 3, 4, 5, [3, 4, 3, 5]]