# 1.What are the two values of the Boolean data type? How do you write them?

``` There are mainly two types of boolean 
  True
  False
  ```
  ```
  True is defined by bool value called `1`
  False is defined by bool value called `0`

# 2. What are the three different types of Boolean operators?
```
The three different types of boolean operators are AND, OR and NOT.
```

#3.Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).
```
1) AND truth table
````
|A|B|result|
|:-:|:-:|:-:|
False|False|False|
True |False|False|
False|True|False|
True|True|True|

```
2) OR truth table
```
|A|B|Result|
|:-:|:-:|:-:|
|True|False|True|
|False|True|True|
|True|True|True|
|False|False|False|

```
3) Not truth table
```

|Operand|result|
|:-:|:-:|
|True|False|
|False|True|

```
In This truth table True represents 1, and False represents 0
```

#4. What are the values of the following expressions?

In [1]:
print((5 > 4) and (3 == 5))

False

In [2]:
print(not(5>4))

False

In [3]:
print((5 > 4) or (3 == 5))

True

In [4]:
print(not((5 > 4) or (3 == 5)))

False

In [5]:
print((True and True) and (True == False))

False

In [6]:
print((not False) or (not True))

True

#5. What are the six comparison operators?
```
less than  " < "
greater than   " > "
lesser than or equal  " <= "
greater than or equal " >= "
equal to    " == "
not equal to   " != "
```

#6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.
```
```

|equal to operators | assignment operators |
|:-:|:-:|
|It mainly checks whether the two given operands equal or not | It is used to assign the value of an variable
|  " == " |  " = "|

In [7]:
a = 10

In [8]:
a  == 10

True

In [9]:
10  == 10

True

#7. Identify the three blocks in this code:

In [10]:
spam = 0
if spam == 10:
  print('eggs')
  if spam>5:
    print('bacon')
else:
      print('ham')
      print('spam')
      print('spam')

ham
spam
spam

In [11]:

# solution : -  The three blocks are inside in if statement and  print statements are print("bacon") and print("ham")

print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
print('spam')

eggs
ham
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [13]:
if spam == 1:
  print("Hello")
elif spam == 2:
   print("Howdy")
else:
  print("Greetings!")

Greetings!

# 9.If your programme is stuck in an endless loop, what keys youâ€™ll press?
```
If its endless loop or infinite loop means re run or CTRL-C
```

#10. How can you tell the difference between break and continue?
```
break is mainly stops the entire loop which breaks the execution ofcurrent loop

continue is mainly not terminate the current loop but it will continues to next loop also
```

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [14]:
range(10)

range(0, 10)

In [15]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [19]:
for i in range(1,11):   # By using for loop by including outbound 
  print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
i = 1    # by using while loop
while i <= 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

spam.bacon()

In [ ]:
spam.bacon()